# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# LLVM-Project directories
llvm-project/

# All python files
*.pyc

# Build-related directories
build/
bin/
.cache/

# python cache
**__pycache__

# Python virtual environment
optipim_env/
venv/
env/

# Exclude all log and json file
Result
Debug
*32banks
*holistic_exp
# exp_results
*llm_exp
traces0/
traces1/